<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TwitchMobileSuite" verbose="1">
  <test name="MobileTest">
    <classes>
      <class name="com.sporty.tests.TwitchMobileTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
